$dark: #0B0D17;
$text-color: #D0D6F9;
$light: #FFFFFF;

$heading1: 9.375rem;
$heading2: 6.25rem;
$heading3: 3.5rem;
$heading4: 2rem;
$heading5: 1.75rem;

$heading1-mobile: 5rem;

// $heading1: 150px;
// $heading2: 100px;
// $heading3: 56px;
// $heading4: 32px;

$subheading1:  28px;
$subheading2:  14px;

$nav-text: 1rem;
// $nav-text: 16px;
$body-text: 1.125rem;
