$dark: #0B0D17;
$text-color: #D0D6F9;
$light: #FFFFFF;

$heading1: 150px;
$heading2: 100px;
$heading3: 56px;
$heading4: 32px;

$subheadeing1:  28px;
$subheadeing2:  14px;

$nav-text: 16px;
$body-text: 18px;
